.SplashScreen {
  height: 100vh;
  background: #191919;
  align-self: "center";
}

.SplashScreen_text {
  font-size: 120px;
  align-self: flex-end;
  font-style: italic;
  background: linear-gradient(180deg, #56b918 0%, #ffd918 50%, #fa0008 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loginBtn {
  color: #ffffff;
  background-color: #1db954;
  border-color: #1aa34a;
}
