.SplashScreen {
  height: 100vh;
  background: #252a2e;
  align-self: "center";
  width: 100vw;
  flex: 1;
}

.SplashScreen_text {
  font-size: 50px;
  align-self: flex-end;
  font-family: "AntikorDisplayLight";
  background: linear-gradient(180deg, #56b918 0%, #ffd918 30%, #e5475080 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loginBtn {
  color: #ffffff;
  background-color: #1db954;
  border-color: #1aa34a;
}
